<%= render 'partials/hero'%>

<section id='all-flight' class='section'>
  <div class='container'>
    <div class='columns'>
      <%= link_to 'New Flight', new_flight_path, class: 'button is-primary is-fullwidth' %>
    </div>

    <div id="flight-list" class='columns is-multiline'>
      <% @all_flights.each do |flight| %>
      <div class='column is-one-quarter' id=<%=flight.id%>>
        <div class='card'>
          <div class='card-content'>
            <% if user_signed_in? %>
            <% if flight.users.include? current_user %>
            <input type="hidden" class="hidden">
            <% end %>
            <% end %>
            <script>
            $('.hidden').each(function (index, item) { item.parentNode.style.backgroundColor = "black" })
            </script>
            <p class='title'>
              <%= flight.from %> - <%= flight.to %>
            </p>
            <p class='subtitle'>
              <%= flight.airline %> (<%= flight.num_passenger %> pax)
            </p>
          </div>
          <footer class='card-footer'>
            <%= link_to 'View', flight_path(flight), class: 'card-footer-item' %>
            <%= link_to 'Edit', edit_flight_path(flight), class: 'card-footer-item' %>
            <%= link_to 'Delete', flight_path(flight, authenticity_token: form_authenticity_token),
            class: 'card-footer-item',
            method: :delete %>

          </footer>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
