<section id="show-flight" class="section">
  <h1 class="title">
    Flight #<%= @individual_flight.id %>:
    <%= @individual_flight.from %> - <%= @individual_flight.to %>
  </h1>

<%= link_to "Book", book_path(:flight => @individual_flight.id), class: "button is-primary", method: :post %>
  <!-- <%= link_to "Edit Flight", edit_flight_path, class: "button is-primary" %>
  <%= link_to 'Delete', flight_path(@individual_flight, authenticity_token: form_authenticity_token),
  class: 'button is-secondary',
  method: :delete %> -->


</section>
